#container {
	width: 1200px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: solid;
}
#sidemenue {
	float: left;
	width: 180px;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: solid;
}
.arrowlistmenu{
    width: 180px; /*width of accordion menu*/
    float: left;
	margin-right: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: soli
}

.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/
font: bold 14px orator std;
color:#393a3b;
background: black url(titlebar.png) repeat-x center left;
margin-bottom: 10px; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
padding: 4px 0 4px 10px; /*header text is indented 10px*/
cursor: hand;
cursor: pointer;
}

.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/
background-image: url(titlebar-active.png);
}

.arrowlistmenu ul{ /*CSS for UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a{
color: #393a3b;
background: url(arrowbullet.png) no-repeat center left; /*custom bullet list image*/
display: block;
padding: 2px 0;
padding-left: 19px; /*link text is indented 19px*/
text-decoration: none;
font-weight: bold;
border-bottom: 1px solid #dadada;
font-size: 90%;
font: bold 12px orator std;
}

.arrowlistmenu ul li a:visited{
color: #4fa2f0;
}

.arrowlistmenu ul li a:hover{ /*hover state CSS*/
color: #4fa2f0;
background-color: #F3F3F3;
}


body{margin:0; padding:0; font-size:12px; font-family:verdana, Arial, Helvetica, sans-serif; color:#333333; background-color:#FFFFFF;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif;}

/* ----------------------------------------------Forms in Content Area------------------------------------- */

#container #respond{display:block; width:100%;}
#container #respond input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
#container #respond textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
#container #respond p{margin:5px 0;}
#container #respond #submit, #container #respond #reset{margin:0; padding:5px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC; cursor:pointer;}
